/* **************** */

.wrapper {
  background-color: #eeeeee;
  margin: 0px;
  padding: 0px;
}
.divBar {
  margin: 10px 0px;
  padding: 2px 10px;
  border-radius: 5px;
  color: white;
}

.agile {
  width: 85%;
  transition: 2s;
  background-color: #a0600d;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  /* or */
  -webkit-transform: translateZ(0);
}

.spanBar {
  float: right;
  font-size: 12px;
  margin-top: 2px;
  color: white;
}
.container {
  width: 90%;
}
